.questionnaireContainer {
    float: left;
    margin-left: 5vh;
}

.qTitle {
    font-size: 40px;
    margin-left: -20vh;
}

.question {
    font-weight: 400;
}

.allBtn {
    font-size: 20px;
    margin-top: 5vh;
}

.randomBtn {
    font-size: 20px;
    margin-top: 5vh;
}