.questionnaire {
    display: flex;
    justify-content: center;
}

.questionnaireContainer {
    margin-top: 15vh;
    width: 365px;
    padding-top: 3vh;
    padding-left: 5vh;
    padding-right: 5vh;
    padding-bottom: 5vh;
    border: solid 7px black;
    background-color: white;
}

.qTitle {
    font-size: 40px;
    margin-left: -20vh;
    margin-bottom: 2vh;
}

.question {
    font-weight: 400;
    margin-bottom: 2vh;
}

.allBtn {
    font-size: 20px;
    margin-top: 2vh;
    margin-right: 2vh;
}

.randomBtn {
    font-size: 20px;
    margin-top: 2vh;
}