.all {
    display: flex;
    justify-content: center;
}

.allContainer {
    margin-top: 5vh;
    width: 365px;
    padding-top: 3vh;
    padding-left: 5vh;
    padding-right: 5vh;
    padding-bottom: 5vh;
    border: solid 7px black;
    background-color: white;
    height: 80vh;
    overflow: scroll;
}

.allTitle {
    font-size: 40px;
    margin-bottom: 2vh;
}

.allImg {
    height: 40vh;
    width: 50vh;
    margin-bottom: 2vh;
}

.allActivity {
    border: solid 4px black;
    padding: 2.5vh;
    margin-bottom: 5vh;
}

.allDescription {
    margin-bottom: 2vh;
}

.allWebUrl {
    color: black;
    text-decoration: none;
    border: solid 3px black;
    padding: 4px;
}

.allWebUrl:hover {
    background-color: black;
    color: white;
}

::marker {
    visibility: hidden;
}

.no-activities {
    background: white;
    
}