.header {
    color: black;
    background-color: white;
    border-bottom: black 4px solid;
    text-align: center;
    height: 20vh;
}

.backgroundImg {
    margin: 30%;
    align-items: center;
}

.questionnaireBtn {
    border: 3px black solid;
    border-radius: 5px;
}