.header {
    color: black;
    background-color: white;
    border-bottom: black 4px solid;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    height: 15vh;
}

.backgroundImg {
    margin: 15%;
    align-items: center;
    height: 90vh;
}

.questionnaireBtn {
    border: 3px black solid;
    border-radius: 5px;
    padding: 10px;
}