.header {
    color: black;
    background-color: white;
    border-bottom: black 4px solid;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    height: 12vh;
    padding-top: 5vh;
}

.backgroundImg {
    margin: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-repeat: no-repeat;
}

.questionnaireBtn {
    font-size: 20px;
    border: 2px black solid;
    border-radius: 5px;
    padding: 10px;
}

.questionnaireBtn:hover {
    cursor: pointer;
}